In [1]:
#pip commands 
#!pip install mysql-connector-python

In [2]:
#imports 
import pandas as pd

#import mysql.connector

In [3]:
Raw_data = pd.read_csv("D:\Learnings\Study Materials\Datasets\Files\Hospital-inpatient-discharges.csv\hospital-inpatient-discharges-sparcs-de-identified-2010-1.csv")

C:\Users\anilkumar.suram\AppData\Local\Temp\ipykernel_20768\501679282.py:1: DtypeWarning: Columns (1,2,7,11,29) have mixed types. Specify dtype option on import or set low_memory=False.
  Raw_data = pd.read_csv("D:\Learnings\Study Materials\Datasets\Files\Hospital-inpatient-discharges.csv\hospital-inpatient-discharges-sparcs-de-identified-2010-1.csv")

In [4]:
display(Raw_data)

,index,Health Service Area,Hospital County,Operating Certificate Number,Facility ID,Facility Name,Age Group,Zip Code - 3 digits,Gender,Race,...,Source of Payment 2,Source of Payment 3,Attending Provider License Number,Operating Provider License Number,Other Provider License Number,Birth Weight,Abortion Edit Indicator,Emergency Department Indicator,Total Charges,Total Costs
0,0,Capital/Adiron,Albany,101000.0,1.0,Albany Medical Center Hospital,18 to 29,NaN,F,White,...,Self-Pay,NaN,3623.0,NaN,NaN,0,N,Y,4476.23,1672.65
1,1,Capital/Adiron,Albany,101000.0,1.0,Albany Medical Center Hospital,50 to 69,NaN,M,White,...,Medicare,Blue Cross,216951.0,216951.0,NaN,0,N,Y,148612.34,51414.70
2,2,Capital/Adiron,Albany,101000.0,1.0,Albany Medical Center Hospital,70 or Older,NaN,M,White,...,Blue Cross,Self-Pay,3076.0,NaN,NaN,0,N,N,16561.99,4032.49
3,3,Capital/Adiron,Albany,101000.0,1.0,Albany Medical Center Hospital,70 or Older,NaN,F,White,...,Insurance Company,Self-Pay,140796.0,140796.0,170254.0,0,N,N,13593.51,4947.81
4,4,Capital/Adiron,Albany,101000.0,1.0,Albany Medical Center Hospital,70 or Older,NaN,F,White,...,Insurance Company,Self-Pay,170254.0,170254.0,170254.0,0,N,N,31962.58,16988.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622128,2622128,NaN,NaN,NaN,NaN,Abortion Record - Facility Name Redacted,30 to 49,OOS,F,Other Race,...,Self-Pay,NaN,NaN,NaN,NaN,0,Y,Y,230373.65,83223.46
2622129,2622129,NaN,NaN,NaN,NaN,Abortion Record - Facility Name Redacted,30 to 49,OOS,F,Other Race,...,Self-Pay,NaN,NaN,NaN,NaN,0,Y,N,20335.27,7677.97
2622130,2622130,NaN,NaN,NaN,NaN,Abortion Record - Facility Name Redacted,30 to 49,OOS,F,Other Race,...,Self-Pay,NaN,NaN,NaN,NaN,0,Y,Y,27775.54,9819.99
2622131,2622131,NaN,NaN,NaN,NaN,Abortion Record - Facility Name Redacted,30 to 49,OOS,F,Other Race,...,NaN,NaN,NaN,NaN,NaN,0,Y,Y,11738.58,3295.21
2622132,2622132,NaN,NaN,NaN,NaN,Abortion Record - Facility Name Redacted,30 to 49,OOS,F,Other Race,...,NaN,NaN,NaN,NaN,NaN,0,Y,Y,10513.56,3856.01

In [5]:
def replace_spaces_with_underscores(df):
    column_rename_dict = {col: col.replace(' ', '_') for col in df.columns}
    df = df.rename(columns=column_rename_dict)
    return df

In [6]:
df = pd.DataFrame(Raw_data)

In [7]:
df = replace_spaces_with_underscores(df)
display(df)

,index,Health_Service_Area,Hospital_County,Operating_Certificate_Number,Facility_ID,Facility_Name,Age_Group,Zip_Code_-_3_digits,Gender,Race,...,Source_of_Payment_2,Source_of_Payment_3,Attending_Provider_License_Number,Operating_Provider_License_Number,Other_Provider_License_Number,Birth_Weight,Abortion_Edit_Indicator,Emergency_Department_Indicator,Total_Charges,Total_Costs
0,0,Capital/Adiron,Albany,101000.0,1.0,Albany Medical Center Hospital,18 to 29,NaN,F,White,...,Self-Pay,NaN,3623.0,NaN,NaN,0,N,Y,4476.23,1672.65
1,1,Capital/Adiron,Albany,101000.0,1.0,Albany Medical Center Hospital,50 to 69,NaN,M,White,...,Medicare,Blue Cross,216951.0,216951.0,NaN,0,N,Y,148612.34,51414.70
2,2,Capital/Adiron,Albany,101000.0,1.0,Albany Medical Center Hospital,70 or Older,NaN,M,White,...,Blue Cross,Self-Pay,3076.0,NaN,NaN,0,N,N,16561.99,4032.49
3,3,Capital/Adiron,Albany,101000.0,1.0,Albany Medical Center Hospital,70 or Older,NaN,F,White,...,Insurance Company,Self-Pay,140796.0,140796.0,170254.0,0,N,N,13593.51,4947.81
4,4,Capital/Adiron,Albany,101000.0,1.0,Albany Medical Center Hospital,70 or Older,NaN,F,White,...,Insurance Company,Self-Pay,170254.0,170254.0,170254.0,0,N,N,31962.58,16988.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622128,2622128,NaN,NaN,NaN,NaN,Abortion Record - Facility Name Redacted,30 to 49,OOS,F,Other Race,...,Self-Pay,NaN,NaN,NaN,NaN,0,Y,Y,230373.65,83223.46
2622129,2622129,NaN,NaN,NaN,NaN,Abortion Record - Facility Name Redacted,30 to 49,OOS,F,Other Race,...,Self-Pay,NaN,NaN,NaN,NaN,0,Y,N,20335.27,7677.97
2622130,2622130,NaN,NaN,NaN,NaN,Abortion Record - Facility Name Redacted,30 to 49,OOS,F,Other Race,...,Self-Pay,NaN,NaN,NaN,NaN,0,Y,Y,27775.54,9819.99
2622131,2622131,NaN,NaN,NaN,NaN,Abortion Record - Facility Name Redacted,30 to 49,OOS,F,Other Race,...,NaN,NaN,NaN,NaN,NaN,0,Y,Y,11738.58,3295.21
2622132,2622132,NaN,NaN,NaN,NaN,Abortion Record - Facility Name Redacted,30 to 49,OOS,F,Other Race,...,NaN,NaN,NaN,NaN,NaN,0,Y,Y,10513.56,3856.01

In [8]:
Raw_data.count()

index                                  2622133
Health Service Area                    2617246
Hospital County                        2617246
Operating Certificate Number           2617246
Facility ID                            2617246
Facility Name                          2622133
Age Group                              2622133
Zip Code - 3 digits                    2618932
Gender                                 2622133
Race                                   2622133
Ethnicity                              2622133
Length of Stay                         2622133
Type of Admission                      2622133
Patient Disposition                    2622030
Discharge Year                         2622133
CCS Diagnosis Code                     2619860
CCS Diagnosis Description              2619860
CCS Procedure Code                     2619860
CCS Procedure Description              2619860
APR DRG Code                           2622133
APR DRG Description                    2622133
APR MDC Code                           2622133
APR MDC Description                    2622133
APR Severity of Illness Code           2622133
APR Severity of Illness Description    2621892
APR Risk of Mortality                  2621892
APR Medical Surgical Description       2622133
Source of Payment 1                    2622133
Source of Payment 2                    1811752
Source of Payment 3                     581292
Attending Provider License Number      2617246
Operating Provider License Number      1951315
Other Provider License Number           488142
Birth Weight                           2622133
Abortion Edit Indicator                2622133
Emergency Department Indicator         2622133
Total Charges                          2622133
Total Costs                            2622133
dtype: int64

In [9]:
df.columns

Index(['index', 'Health_Service_Area', 'Hospital_County',
       'Operating_Certificate_Number', 'Facility_ID', 'Facility_Name',
       'Age_Group', 'Zip_Code_-_3_digits', 'Gender', 'Race', 'Ethnicity',
       'Length_of_Stay', 'Type_of_Admission', 'Patient_Disposition',
       'Discharge_Year', 'CCS_Diagnosis_Code', 'CCS_Diagnosis_Description',
       'CCS_Procedure_Code', 'CCS_Procedure_Description', 'APR_DRG_Code',
       'APR_DRG_Description', 'APR_MDC_Code', 'APR_MDC_Description',
       'APR_Severity_of_Illness_Code', 'APR_Severity_of_Illness_Description',
       'APR_Risk_of_Mortality', 'APR_Medical_Surgical_Description',
       'Source_of_Payment_1', 'Source_of_Payment_2', 'Source_of_Payment_3',
       'Attending_Provider_License_Number',
       'Operating_Provider_License_Number', 'Other_Provider_License_Number',
       'Birth_Weight', 'Abortion_Edit_Indicator',
       'Emergency_Department_Indicator', 'Total_Charges', 'Total_Costs'],
      dtype='object')

In [10]:
column_data_types = df.dtypes
display(column_data_types)

index                                    int64
Health_Service_Area                     object
Hospital_County                         object
Operating_Certificate_Number           float64
Facility_ID                            float64
Facility_Name                           object
Age_Group                               object
Zip_Code_-_3_digits                     object
Gender                                  object
Race                                    object
Ethnicity                               object
Length_of_Stay                          object
Type_of_Admission                       object
Patient_Disposition                     object
Discharge_Year                           int64
CCS_Diagnosis_Code                     float64
CCS_Diagnosis_Description               object
CCS_Procedure_Code                     float64
CCS_Procedure_Description               object
APR_DRG_Code                             int64
APR_DRG_Description                     object
APR_MDC_Code                             int64
APR_MDC_Description                     object
APR_Severity_of_Illness_Code             int64
APR_Severity_of_Illness_Description     object
APR_Risk_of_Mortality                   object
APR_Medical_Surgical_Description        object
Source_of_Payment_1                     object
Source_of_Payment_2                     object
Source_of_Payment_3                     object
Attending_Provider_License_Number      float64
Operating_Provider_License_Number      float64
Other_Provider_License_Number          float64
Birth_Weight                             int64
Abortion_Edit_Indicator                 object
Emergency_Department_Indicator          object
Total_Charges                          float64
Total_Costs                            float64
dtype: object

In [11]:
na_values_In_each_column = df.isnull().sum()
display(na_values_In_each_column)

index                                        0
Health_Service_Area                       4887
Hospital_County                           4887
Operating_Certificate_Number              4887
Facility_ID                               4887
Facility_Name                                0
Age_Group                                    0
Zip_Code_-_3_digits                       3201
Gender                                       0
Race                                         0
Ethnicity                                    0
Length_of_Stay                               0
Type_of_Admission                            0
Patient_Disposition                        103
Discharge_Year                               0
CCS_Diagnosis_Code                        2273
CCS_Diagnosis_Description                 2273
CCS_Procedure_Code                        2273
CCS_Procedure_Description                 2273
APR_DRG_Code                                 0
APR_DRG_Description                          0
APR_MDC_Code                                 0
APR_MDC_Description                          0
APR_Severity_of_Illness_Code                 0
APR_Severity_of_Illness_Description        241
APR_Risk_of_Mortality                      241
APR_Medical_Surgical_Description             0
Source_of_Payment_1                          0
Source_of_Payment_2                     810381
Source_of_Payment_3                    2040841
Attending_Provider_License_Number         4887
Operating_Provider_License_Number       670818
Other_Provider_License_Number          2133991
Birth_Weight                                 0
Abortion_Edit_Indicator                      0
Emergency_Department_Indicator               0
Total_Charges                                0
Total_Costs                                  0
dtype: int64

In [12]:
#Converting the data type of Length of Stay column to Numeric from Object

df['Length_of_Stay'] = df['Length_of_Stay'].apply(lambda x: x.replace("'", "") if isinstance(x, str) and not x.isnumeric() else x)

In [15]:
df['Length_of_Stay'].unique()

array([  1.,  15.,   3.,   5.,   4.,   2.,   9.,  13.,  18.,   8.,   7.,
         6.,  11.,  17.,  25.,  16.,  47.,  20.,  37.,  12.,  19.,  27.,
        10.,  31.,  14.,  22.,  29.,  87., 103., 109.,  85.,  30.,  26.,
        44.,  21.,  36.,  72.,  89.,  76.,  49.,  98., 105.,  69.,  45.,
        32.,  57.,  24.,  39.,  81.,  33.,  28.,  23.,  77.,  88.,  63.,
        55.,  41.,  61.,  53.,  38.,  51.,  40.,  35.,  59.,  46.,  50.,
        92.,  64.,  34.,  73.,  60.,  67.,  68.,  97.,  80.,  82.,  71.,
        95., 113., 118.,  54.,  91., 100., 115.,  90.,  42., 108.,  58.,
        70.,  65.,  43.,  66.,  94.,  48.,  75., 112.,  52.,  78.,  62.,
       106.,  84., 107.,  93., 104.,  56., 117.,  79., 116.,  83.,  74.,
        96.,  86., 114., 110.,  99., 102., 101., 119., 111.])

In [14]:
#Convert the Data type of Length of Stay Column
df['Length_of_Stay'] = pd.to_numeric(df['Length_of_Stay'], errors = 'coerce')

#Drop the null values
df.dropna(subset=['Length_of_Stay'], inplace=True)

#Get the updated Data type
df['Length_of_Stay'].dtypes

#Display the values of the Length_of_Stay
display(df['Length_of_Stay'])

0           1.0
1          15.0
2           3.0
3           5.0
4           4.0
           ...
2622128    29.0
2622129     1.0
2622130     4.0
2622131     1.0
2622132     1.0
Name: Length_of_Stay, Length: 2619918, dtype: float64

In [ ]:
df_with_no_NaN_Values = df.dropna(subset=['index', 'Health_Service_Area', 'Hospital_County',
       'Operating_Certificate_Number', 'Facility_ID', 'Facility_Name',
       'Age_Group', 'Zip_Code_-_3_digits', 'Gender', 'Race', 'Ethnicity',
       'Length_of_Stay', 'Type_of_Admission', 'Patient_Disposition',
       'Discharge_Year', 'CCS_Diagnosis_Code', 'CCS_Diagnosis_Description',
       'CCS_Procedure_Code', 'CCS_Procedure_Description', 'APR_DRG_Code',
       'APR_DRG_Description', 'APR_MDC_Code', 'APR_MDC_Description',
       'APR_Severity_of_Illness_Code', 'APR_Severity_of_Illness_Description',
       'APR_Risk_of_Mortality', 'APR_Medical_Surgical_Description',
       'Source_of_Payment_1', 'Source_of_Payment_2', 'Source_of_Payment_3',
       'Attending_Provider_License_Number',
       'Operating_Provider_License_Number', 'Other_Provider_License_Number',
       'Birth_Weight', 'Abortion_Edit_Indicator',
       'Emergency_Department_Indicator', 'Total_Charges', 'Total_Costs'])

In [ ]:
display(df)

In [ ]:
columns_with_nan = df.columns[df.isna().any()].tolist()

In [ ]:
columns_with_nan

In [ ]:
# Assuming df is your DataFrame
selected_columns = ['index','CCS_Diagnosis_Code', 'CCS_Diagnosis_Description', 'CCS_Procedure_Code', 'CCS_Procedure_Description']

# Use the loc or iloc indexer to select only the specified columns
selected_df = df[selected_columns]

# Print the resulting DataFrame
display(selected_df)

In [ ]:
unique_birth_weights = df['Birth_Weight'].unique()

display(unique_birth_weights)

In [ ]:
df = df.drop([])

In [ ]:
distinct_zip_code = df["Zip_Code_-_3_digits"].unique()

In [ ]:
display(distinct_zip_code)

In [ ]:
display(df["Zip_Code_-_3_digits"])

In [ ]:
df["Zip_Code_-_3_digits"].isna().sum()

In [ ]:
na_rows_zip_code = df[df["Zip_Code_-_3_digits"].isna()]

na_rows_info = na_rows_zip_code[["Health_Service_Area","Hospital_County"]]

display(na_rows_info)

In [ ]:
county_albany = df[df["Hospital_County"]=="Albany"]


print(county_albany[["Hospital_County","Zip_Code_-_3_digits"]])

In [ ]:
# Filter rows where "Hospital_County" is equal to "Albany" and "Zip_Code_-_3_digits" is equal to "100"
albany_with_zip_100 = df[(df["Hospital_County"] == "Albany") & (df["Zip_Code_-_3_digits"] == "100")]

# Check if there are any rows that match the condition
if not albany_with_zip_100.empty:
    print("Albany has a zip code of 100.")
else:
    print("Albany does not have a zip code of 100.")

In [ ]:
display(albany_with_zip_100)

In [ ]:
filtered_df = df.dropna(subset=['Health_Service_Area', 'Hospital_County', 'Zip_Code_-_3_digits'])

# Step 2: Create a dictionary to map ('Health_Service_Area', 'Hospital_County') to 'Zip_Code_-_3_digits'
zip_mapping = filtered_df.groupby(['Health_Service_Area', 'Hospital_County'])['Zip_Code_-_3_digits'].first().to_dict()

# Step 3: Fill missing 'Zip_Code_-_3_digits' values based on the mapping
df['Zip_Code_-_3_digits'] = df.apply(lambda row: zip_mapping.get((row['Health_Service_Area'], row['Hospital_County']), row['Zip_Code_-_3_digits']), axis=1)

# Display the updated DataFrame
display(df)

In [ ]:
display(na_rows_zip_code)

In [ ]:
na_rows_zip_code = df[df["Zip_Code_-_3_digits"].isna()]

In [ ]:
# Step 1: Create a DataFrame with non-NaN values for 'Zip_Code_-_3_digits'
filtered_df = df.dropna(subset=['Zip_Code_-_3_digits'])

# Step 2: Create a dictionary to map 'Zip_Code_-_3_digits' to ('Health_Service_Area', 'Hospital_County')
zip_mapping = filtered_df.groupby('Zip_Code_-_3_digits')[['Health_Service_Area', 'Hospital_County']].first().to_dict(orient='index')

# Step 3: Fill missing 'Health_Service_Area' and 'Hospital_County' values based on the mapping
def fill_missing_values(row):
    zip_code = row['Zip_Code_-_3_digits']
    if pd.notna(zip_code) and zip_code in zip_mapping:
        mapping = zip_mapping[zip_code]
        row['Health_Service_Area'] = mapping['Health_Service_Area']
        row['Hospital_County'] = mapping['Hospital_County']
    return row

df = df.apply(fill_missing_values, axis=1)

# Display the updated DataFrame
display(df)

In [ ]:
na_health_service_area_count = df['Health_Service_Area'].isna().sum()
na_hospital_county_count = df['Hospital_County'].isna().sum()
na_rows_zip_code = df["Zip_Code_-_3_digits"].isna().sum()
print("NaN count in 'Health_Service_Area':", na_health_service_area_count)
print("NaN count in 'Hospital_County':", na_hospital_county_count)
print("NaN count in 'Zip_Code_-_3_digits':",na_rows_zip_code)

In [ ]:
oos_rows_zip_code = df[df["Zip_Code_-_3_digits"] == "OOS"].shape[0]

In [ ]:
display(oos_rows_zip_code)

In [ ]:
# Filter rows where both 'Health_Service_Area' and 'Hospital_County' are NaN
na_rows = df[df['Health_Service_Area'].isna() & df['Hospital_County'].isna()]

# Display the filtered DataFrame
print(na_rows[['Health_Service_Area', 'Hospital_County']])

In [ ]:
both_na_mask = df['Health_Service_Area'].isna() & df['Hospital_County'].isna()

# Filter the DataFrame based on the mask
na_rows = df[both_na_mask]

# Check if there are any rows where both columns have NaN values
if not na_rows.empty:
    # Perform your desired action for rows where both columns have NaN values
    # For example, you can display these rows or perform further processing
    print("Rows where both 'Health_Service_Area' and 'Hospital_County' have NaN values:")
    display(na_rows)
else:
    print("No rows found where both 'Health_Service_Area' and 'Hospital_County' have NaN values.")

In [ ]:
# Iterate through rows of the DataFrame
for index, row in df.iterrows():
    zip_code = row['Zip_Code_-_3_digits']
    health_service_area = row['Health_Service_Area']
    hospital_county = row['Hospital_County']
    
    # Check if 'Zip_Code_-_3_digits' has a value and 'Health_Service_Area' is "None"
    if pd.notna(zip_code) and health_service_area == "None":
        # Find a matching row with the same 'Zip_Code_-_3_digits'
        matching_row = df[df['Zip_Code_-_3_digits'] == zip_code].iloc[0]
        
        # Get the values from the matching row and update the current row
        df.at[index, 'Health_Service_Area'] = matching_row['Health_Service_Area']
        df.at[index, 'Hospital_County'] = matching_row['Hospital_County']

# Display the updated DataFrame
display(df)

In [ ]:
na_health_service_area_count = df['Health_Service_Area'].isna().sum()
na_hospital_county_count = df['Hospital_County'].isna().sum()
na_rows_zip_code = df["Zip_Code_-_3_digits"].isna().sum()
print("NaN count in 'Health_Service_Area':", na_health_service_area_count)
print("NaN count in 'Hospital_County':", na_hospital_county_count)
print("NaN count in 'Zip_Code_-_3_digits':",na_rows_zip_code)

In [ ]:
none_rows_health_service_area = df[df["Health_Service_Area"] == "None"]
display(none_rows_health_service_area)

In [ ]:
none_rows_hospital_county = df[df["Hospital_County"] == "None"].shape[0]
display(none_rows_hospital_county)

In [ ]:
display(df)

In [ ]:
df[df["Health_Service_Area"].isna()]

In [ ]:
result_df = df[(df["Zip_Code_-_3_digits"] == 106) & (~df["Health_Service_Area"].isna()) & (~df["Hospital_County"].isna())]

display(result_df)

In [ ]:
health_service_area_dtype = df["Health_Service_Area"].dtype
print(health_service_area_dtype)

In [ ]:
df["Health_Service_Area"] = df["Health_Service_Area"].astype(pd.StringDtype())
health_service_dtype = df["Health_Service_Area"].dtype
print(health_service_area_dtype)